body {
    margin: 0;
    padding: 0;
}

button {
    white-space: nowrap;
    margin: 2px;
    padding: 3px;
    border-radius: 0;
    border: none;
}

.layout-info {
    position: absolute;
    top: 2px;
    right: 5px;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 4vh;
}

.content {
    margin-bottom: -4vh;
    height: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

.upload-area {
    height: 6vh;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-groups {
    display: flex;
}

.button-groups div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-groups .settings {
    margin-right: 15px;
}

.button-groups .planning {
    margin-left: 15px;
}

.load-download-buttons {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

#layout {
    color: white;
}

.layout {
    border: 1px solid black;
    height: 80%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.layout-container {
    max-height: 80%;
    padding: 10px;
    position: relative;
    display: block;
    width: 95%;
    margin: auto;
}

.file-name-wrapper {
    margin: 5px 0;
}

.layout-info div div {
    display: inline-block;
}

#file-name {
    font-weight: bold;
}

.prop {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 100px;
    height: 200px;
    position: absolute;
    cursor: grab;
}

#single-bed, #double-bed {
    background-image: url('resources/bed.png');
}

#billy-40, #billy-80 {
    background-image: url('resources/bookshelf.png');
}

#sofa {
    background-image: url('resources/sofa.png');
}

#dinner-table {
    background-image: url('resources/dinner-table.jpg');
}

.prop-selector {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 998;
    display: none;
}

.prop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.prop-list span {
    font-size: large;
    background-color: white;
    color: black;
    margin: 5px 0;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.prop-list span:hover {
    background-color: lightblue;
}

.prop-list .custom-prop {
    background-color: coral;
}

.prop-list.remove-mode .default-prop {
    background-color: rgba(170, 168, 168, 0.5);
    cursor: not-allowed;
}

.prop-list.remove-mode .custom-prop {
    background-color: rgb(200, 50, 50);
}

.scaling, .measuring {
    cursor: crosshair;
}

.instructions {
    text-align: center;
    margin-top: 5px;
}

#action:not(.active) {
    display: none;
}

.pathCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.pathLine {
    stroke: rgb(255,0,0);
    stroke-width: 2;
}

.measuring-point, .measurement-length {
    z-index: 15;
}

.measuring-point {
    background-color: aqua;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    cursor: grab;
}

.measuring-point.last-point {
    background-color: green;
}

.measurement-length {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    color: black;
}

span.add-custom-prop {
    margin-top: 25px;
    background-color: rgb(24, 107, 24);
}

span.remove-custom-prop {
    background-color: rgb(120, 20, 20);
}

.custom-prop-dialog:not(.active) {
    display: none;
}

.custom-prop-dialog.active {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.custom-prop-settings-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.custom-prop-settings-wrapper input {
    font-size: larger;
    margin: 10px 10px;
}

.custom-prop-settings-wrapper div {
    color: white;
}

.custom-prop-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}